#menu p {
	color: #aeaeae;
}

#menu button {
	background-color: #63a9d9 !important;
}

#header .title {
	position: fixed;
	left:50%;
	top:5.2em;
	z-index: 10000;
	-webkit-transform: translate(-51%, -51%);
	-ms-transform: translate(-51%, -51%);
	-moz-transform: translate(-51%, -51%);
	-o-transform: translate(-51%, -51%);
	transform: translate(-51%, -51%);
}

@media screen and (max-width: 736px) {
	#header .title {
		position: fixed;
		left:50%;
		top:3.6em;
		z-index: 10000;
		-webkit-transform: translate(-51%, -51%);
		-ms-transform: translate(-51%, -51%);
		-moz-transform: translate(-51%, -51%);
		-o-transform: translate(-51%, -51%);
		transform: translate(-51%, -51%);
	}
	}
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
		background: #f3f2f0;
		box-shadow: 0px 1px 5px #999999;
}

.tiles article {
	font-size :1.45em;
}

table .main {
	border:1;
}

/* Box */
.box {
	border-radius: 0.375em;
	border: solid 1px rgba(210, 215, 217, 0.75);
	border-bottom:solid 3px #f56a6a;
	margin-bottom: 1.6em;
	padding: 0.5em;
	text-align:center ;
}
.box > :last-child,
.box > :last-child > :last-child,
.box > :last-child > :last-child > :last-child {
	  margin-bottom: 0;
}
.box.alt {
  border: 0;
  border-radius: 0;
  padding: 0;
}
/*더불어민주당*/
.tmj {
	color:#0082ff;
}
/*자유한국당*/
.lkp {
	color:#c41c1f;
}
/*바른미래당*/
.bm {
	color:#69c2d5;
}
/*정의당*/
.j21 {
	color:#ef9b00;
}
/*민주평화당*/
.pp {
	color:#83bf46;
}
/*우리공화당*/
.orp {
	color:#5a5dbe;
}
/*민중당*/
.mj {
	color:#e1783f;
}
/*무소속*/
.im {
	color:#616161;
}

.md-card-tab {
    display: none;
}

.md-card-tab-sel {
    display: block;
}

.et-hero-tabs,
.et-slide {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  height: 100vh;
  position: relative;
  text-align: center;
  padding: 0 2em;
}
.et-hero-tabs h1,
.et-slide h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}
.et-hero-tabs h3,
.et-slide h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

.et-hero-tabs-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
}
.et-hero-tabs-container--top {
  position: fixed;
  top: 0;
}

.et-hero-tab {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-flex: 1;
          flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}
.et-hero-tab:hover {
  color: white;
  background: rgba(102, 177, 241, 0.8);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #66B1F1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

@media (min-width: 800px) {
  .et-hero-tabs h1,
  .et-slide h1 {
    font-size: 3rem;
  }
  .et-hero-tabs h3,
  .et-slide h3 {
    font-size: 1rem;
  }

  .et-hero-tab {
    font-size: 1rem;
  }
}
