#menu p {
	color: #aeaeae;
}

#menu button {
	background-color: #63a9d9 !important;
}

#header .title {
	position: fixed;
	left:43%;
	top:2.2em;
	z-index: 10000;
}

@media screen and (max-width: 736px) {
	#header .title {
		position: fixed;
		left:43%;
		top:1.6em;
		z-index: 10000;
	}
}

#main {
	text-align: center;

}

.inner img {
	width:100%;
	max-width: 550px;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
		background: #f3f2f0;
		box-shadow: 0px 1px 5px #999999;
		padding:0;
}

body {
	background: #ffffff;
}

header ul {
	list-style-type: none;
}

h1 {
	margin:0;
}

header ul li {
	float:left;
	margin: 0.8em 0.8em;
}

.tiles article {
	font-size :1.45em;
}

table .main {
	border:1;
}

/* Box */
.box {
	background-color: #f3f2f0;
	margin-bottom: 1.6em;
	padding: 2.5em;
	text-align:center ;
}
.box > :last-child,
.box > :last-child > :last-child,
.box > :last-child > :last-child > :last-child {
	  margin-bottom: 0;
}
.box.alt {
  border: 0;
  border-radius: 0;
  padding: 0;
}
/*더불어민주당*/
.tmj {
	color:#0082ff;
}
/*자유한국당*/
.lkp {
	color:#c41c1f;
}
/*바른미래당*/
.bm {
	color:#69c2d5;
}
/*정의당*/
.j21 {
	color:#ef9b00;
}
/*민주평화당*/
.pp {
	color:#83bf46;
}
/*우리공화당*/
.orp {
	color:#5a5dbe;
}
/*민중당*/
.mj {
	color:#e1783f;
}
/*무소속*/
.im {
	color:#616161;
}

.md-card-tab {
    display: none;
}

.md-card-tab-sel {
    display: block;
}
