
#tab-menu {
  width: 600px;
  background : rgba(0,57,11,1);
  position: absolute; left: 50%; top: 100px;
  transform: translatex(-50%);
  border-radius: 4px;
}
#tab-menu ul {
  overflow: hidden;
}
#tab-menu li {
  float: left; width: 90px; text-align: center;
  list-style-type: none;
}
#tab-menu li a {
  display: block; color: #fff;
  padding: 15px 20px;
  font-weight: bold;
}
#tab-menu li.active a {
  border-bottom: 3px solid #F8A714;
  color: #F8A714;
}
#tab-menu li div {
  position: static; left:0; top: 55px;
  background: #fff; text-align: left;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 0 0 4px 4px;
}
